.option {
    background-color: rgb(248, 248, 248);
}

/* Start Content Option */
.option > .option-wrapper {
    margin: 70px 20px 40px 20px;
}


/* Describe option item image, color, size, and cart */
.option > .option-wrapper > .item-option-wrapper {
    display: flex; flex-direction: row;
    justify-content: space-between; align-items: flex-start;
    padding-top: 30px;
    border: 1px solid blue;
}

/* Start image item */

.option > .option-wrapper > .item-option-wrapper > .image-option-wrapper {
    background-color: rgb(222, 222, 222);
    width: 30%; height: 430px;
    display: flex; justify-content: center; align-items: center;
}

.option > .option-wrapper > .item-option-wrapper > .image-option-wrapper > img {
    height: 240px; width: 240px;
    background-color: rgba(255, 255, 255, 0);
}

/* End image item */

/* Start describe item */

.option > .option-wrapper > .item-option-wrapper > .description-option-item {
    width: 65%;
}

/* Start describe title, price, text, etc */

.option > .option-wrapper > .item-option-wrapper > .description-option-item > .description-option {
    display: flex; flex-direction: column; gap: 10px;
}

.option > .option-wrapper > .item-option-wrapper > .description-option-item > .description-option > span {
    font-size: 30px;
    font-weight: 600;
}

.option > .option-wrapper > .item-option-wrapper > .description-option-item > .description-option > .price-option-item {
    color: crimson;
}

.option > .option-wrapper > .item-option-wrapper > .description-option-item > .description-option > p {
    letter-spacing: .4px;
    font-size: 16px;
    padding-right: 30px;
}

/* End describe title, price, text, etc */

/* Start picker variant color, size */

.option > .option-wrapper > .item-option-wrapper > .description-option-item > .select-option-wrapper {
    border: 1px solid blue;
    display: flex; flex-direction: row; gap: 10px;
    justify-content: flex-start; align-items: flex-start;
}

/* End picker variant color, size */

/* Start append to cart */

.option > .option-wrapper > .item-option-wrapper > .description-option-item > .cart-option-wrapper {
    border: 1px solid red;
}

/* End append to cart */

/* Start categories item and medsos*/

.option > .option-wrapper > .item-option-wrapper > .description-option-item > .categories-sosmed-option-item {
    border: 1px solid brown;
}

/* End categories item and medsos*/

/* End describe item */

/* End Describe option item image, color, size, and cart */

/* End content option */