.cart-table {
    padding: 0; margin: 0;
    margin-bottom: 40px;
}

table, thead, tbody, tr {
    border: 1px solid rgb(185, 185, 185);
    border-collapse: collapse;
}

td, th {
    border: none;
}

.cart-table > .cart-table-wrapper {
    width: 90%; height: auto;
    border: 2px solid rgb(197, 197, 197);
    margin: auto;
}

.cart-table > .cart-table-wrapper > thead > .row-head {
    height: 60px;
    background-color: rgb(206, 206, 206);
}

.cart-table  > .cart-table-wrapper > thead > .row-head > .table-head-cart {
    width: 110px;
}

.cart-table > .cart-table-wrapper > tbody  > .row-data {
    height: 190px;
    text-align: center;
}

.cart-table > .cart-table-wrapper > tbody > .row-data > .cart-image-wrapper {
    height: 150px;
}

.cart-table > .cart-table-wrapper > tbody > .row-data > .cart-image-wrapper > .cart-image-background {
    background-color: rgb(238, 238, 238);
    width: 60%; height: 70%;
    margin: auto;
    display: flex; justify-content: center; align-items: center;
}

.cart-table > .cart-table-wrapper > tbody > .row-data > .cart-image-wrapper > .cart-image-background > .cart-image {
    width: 100px; height: 100px;
    background-color: rgb(238, 238, 238);
}

.cart-table > .cart-table-wrapper > tbody > .row-data > .cart-title{
    font-weight: 600;
    font-size: 18px;
}

.cart-table > .cart-table-wrapper > tbody > .row-data > .cart-qty, 
.cart-table > .cart-table-wrapper > tbody > .row-data > .cart-price, 
.cart-table > .cart-table-wrapper > tbody > .row-data > .cart-total,
.cart-table > .cart-table-wrapper > tbody > .row-data > .cart-action  {
    font-size: 16px;
    font-weight: 600;
}

.cart-table > .cart-table-wrapper > tbody > .row-data > .cart-qty {
    display: flex;
    height: 190px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-table > .cart-table-wrapper > tbody > .row-data > .cart-qty > .cart-quantity {
    border: 1px solid rgb(170, 170, 170);
    display: flex;
    gap: 12px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-table > .cart-table-wrapper > tbody > .row-data > .cart-qty > .cart-quantity > span {
    font-size: 20px;
    width: 23px;
    border-left: 1px solid rgb(170, 170, 170);
    border-right: 1px solid rgb(170, 170, 170);
    cursor: pointer;
}

.cart-table > .cart-table-wrapper > tbody > .row-data > .cart-action > .delete-icon {
    cursor: pointer;
    padding: 10px;
}