.sidebar {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 10px;
    box-shadow: 1px 1px rgba(218, 218, 218, .5);
}

.sidebar > .search-sidebar-wrapper {
    padding-top: 5px;
    display: flex; flex-direction: column; gap: 15px;
    justify-content: flex-start; align-items: flex-start;
}

.sidebar > .search-sidebar-wrapper > .search-input {
    width: 80%; height: 14px;
    padding: 5px;
    font-size: 16px;
    outline: none; border: 1px solid #666; border-radius: 3px;
}

.sidebar > .search-sidebar-wrapper > .search-input:focus {
    outline: none;
    border: 2px solid #ba1eda; border-radius: 3px;
}

.sidebar > .category-sidebar-wrapper, .sidebar > .color-sidebar-wrapper, .sidebar > .size-sidebar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.radio-item [type="radio"] {
    display: none;
}

.radio-item + .radio-item {
    margin-top: 15px;
}

.radio-item > label {
    display: block;
    padding: 5px 32px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    min-width: 100px;
    white-space: nowrap;
    position: relative;
}

.radio-item > label::after,
.radio-item > label::before {
    content: "";
    position: absolute;
}

.radio-item > label::after {
    height: 11px;
    width: 11px;
    border: 2px solid #661166;
    left: 8px;
    top: calc(50% - 8px);
    border-radius: 3px;
}

.radio-item > label::before {
    background-color: #ba1eda;
    height: 9px;
    width: 9px;
    left: 11px;
    top: calc(50% - 5px);
    transform: scale(3);
    opacity: 0;
    visibility: hidden;
    transition: .4s ease-in-out 0s;
    border-radius: 50%;
}

.radio-item [type="radio"]:checked ~ label{
    border-color: #921cd6;
}

.radio-item [type="radio"]:checked ~ label::before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.radio-item:hover {
    background-color: #e6bbff;
}